@import "../../../../Style/rules/breakpoints";
@import "../../../../Style/rules/colors";
@import "../../../../Style/rules/typography";
@import "../../../../Style/rules/vertical-rhythm";
@import "../../../../Style/rules/spacing";

.project {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: $baseline * 3;
    padding-left: $gutter-small;
    padding-right: $gutter-small;
    padding-top: $baseline * 5;
    position: relative;
    width: 100%;
    
    &__image {
        height: 100%;
        left: 0;
        object-fit: cover;
        opacity: .9;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    &__title {
        font-size: $font-size-medium;
        line-height: line-height($font-size-medium);
        margin: 0;
        padding-bottom: $baseline;
        position: relative;
    }
    
     &__blurb {
        font-size: $font-size-xxsmall;
        line-height: line-height($font-size-xxsmall);
        padding-bottom: $baseline;
        position: relative;
    }
    
    &__subtitle {
        line-height: line-height($font-size-xxsmall);
        font-size: $font-size-xxsmall;
        position: relative;
    }
    
    @media (min-width: $medium) {
        padding-left: $gutter-medium;
        padding-right: $gutter-medium;
        
        &__title {
            font-size: $font-size-large;
            line-height: line-height($font-size-large);
        }
        
        &__subtitle,
        &__blurb {
            font-size: $font-size-xsmall;
            line-height: line-height($font-size-xsmall);
        }
    }
    
    @media (min-width: $large) {
        padding-bottom: $baseline * 5;
        
        &__title {
            line-height: line-height($font-size-xlarge);
            font-size: $font-size-xlarge;
        }
    }
    
    @media (min-width: $x-large) {
        padding-right: 8rem;
    }
}