@import "../../../../Style/rules/index";

.prj-summary {
    $component-spacing: $baseline * 2;
    $component-spacing-small: $baseline * 3;
    $component-spacing-medium: $baseline * 6;

    &__lead {
        background-color: $white;
        padding: $component-spacing $gutter-small;
    }

    &__lead-text {
        font-size: $font-size-xsmall;
        line-height: line-height($font-size-xsmall);
    }

    &__meta {
        background-color: $lightgrey;
        padding: $component-spacing $gutter-small;
    }

    &__meta-item {
        font-size: $font-size-xxsmall;
        line-height: line-height($font-size-xxsmall);
        margin-bottom: $component-spacing-small;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: $small) {

        &__lead {
            padding-bottom: $component-spacing-small;
            padding-top: $component-spacing-small;
        }

        &__lead-text {
            font-size: $font-size-small;
            line-height: line-height($font-size-small);
        }

        &__meta {
            padding-bottom: $component-spacing-small;
            padding-top: $component-spacing-small;
        }
    }

    @media only screen and (min-width: $medium) {

        display: flex;

        &__lead {
            align-items: center;
            display: flex;
            flex-basis: (100%/3*2);
            padding: $component-spacing-medium $gutter-medium;
        }

        &__lead-text {
            font-size: $font-size-medium;
            line-height: line-height($font-size-medium);
        }

        &__meta {
            align-items: flex-start;
            display: flex;
            flex-basis: (100%/3);
            flex-direction: column;
            justify-content: center;
            padding: $component-spacing-medium $gutter-medium;
        }

        &__meta-item {
            font-size: $font-size-xsmall;
            line-height: line-height($font-size-xsmall);
        }
    }

    @media only screen and (min-width: $large) {
        min-height: 100vh;

        &__lead {
            padding-left: $gutter-large;
            padding-right: $gutter-large;
        }

        &__lead-text {
            display: block;
            font-size: $font-size-large;
            line-height: line-height($font-size-large);
            max-width: (100%/4*3);
        }

        &__meta {
            padding-left: $gutter-large;
            padding-right: $gutter-large;
        }
    }

    @media only screen and (min-width: $x-large) {
        &__lead {
            padding-left: $gutter-xlarge;
            padding-right: $gutter-xlarge;
        }
    }
}
