@import '../../../../Style/rules/index';

.prj-dual-hero {
    @media only screen and (min-width: $medium) {
        display: flex;
        
        &__image-wrapper {
            flex-basis: 50%;
            height: 100vh;
            position: relative;
            width: 50%;
        }
        
        &__image {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}