@import './src/Style/global/base.scss';
@import './src/Style/rules/breakpoints.scss';
@import './src/Style/rules/vertical-rhythm.scss';
@import "./src/Style/rules/spacing";
@import './src/Framework/Components/Hamburger/Hamburger.scss';
@import './src/Framework/Components/Navigation/navigation.scss';
@import './src/Framework/Components/Menu/menu.scss';

body {
  background-color: grey;
  font-family: sans-serif;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
  
  &.example-enter-active {
    opacity: 1;
  }
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
  
  &.example-leave-active {
    opacity: 0.01;
  }
}

.example-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.logo {
  left: $gutter-small;
  position: absolute;
  top: $baseline * 2;
  z-index: 2;
  
  @media (min-width: $medium) {
    left: $gutter-medium;
  }
}