@import "../../../Style/rules/colors";
@import "../../../Style/rules/typography";
@import "../../../Style/rules/breakpoints";
@import "../../../Style/rules/spacing";

.hero {
    height: 100vh;
    position: relative;

    &__image {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__title {
        bottom: 5rem;
        color: $white;
        font-size: $font-size-large;
        left: $gutter-small;
        position: absolute;
        right: $gutter-small;
    }

    @media only screen and (min-width: $medium) {
        height: 125vh;

        &__title {
            bottom: 35vh;
            max-width: 60rem;
            font-size: $font-size-xxxlarge;
        }
    }

    @media only screen and (min-width: $large) {
        &__title {
            font-size: $font-size-super;
        }
    }
}
