.hamburger {
  background-color: white;
  cursor: pointer;
  display: block;
  height: 3em;
  transition: transform .8s ease;
  width: 3em;
  
  &__bar {
    background-color: black;
    display: block;
    height: 4px;
    margin-left: -.7em;
    left: 50%;
    position: relative;
    top: 50%;
    transition: background-color 0s ease 0s;
    width: 1.4em;
    
    &::before {
      background-color: black;
      content: '';
      height: 4px;
      top: 7px;
      transition: transform .8s ease;
      position: absolute;
      width: 1.4em;
    }
    
    &::after {
      background-color: black;
      content: '';
      height: 4px;
      position: absolute;
      transition: transform .8s ease;
      top: -7px;
      width: 1.4em;
    }
  }
    
  &:active,
  &:hover {
    transform: rotate(180deg);
    
    .hamburger__bar {
      background-color: transparent;
    }
    
    .hamburger__bar::before {
      top: -.2em;
      transform: rotate(-45deg);
    }
    
    .hamburger__bar::after {
      top: -.2em;
      transform: rotate(45deg);
    }
  }
}