$gutter-base: 2rem;
$gutter-small: 2rem;
$gutter-medium: 3rem;
$gutter-large: 4rem;
$gutter-xlarge: 6rem;

$component-spacing: $baseline * 2;
$component-spacing-small: $baseline * 3;
$component-spacing-medium: $baseline * 6;
